<% 
  maxi = 1
  maxj = 1
	for k in 1..5 do
		if TimeCard.first(:user_id => k)
			i = 0
			j = 0
			TimeCard.all(:user_id => k).each do |x|
				i += 1 if x.sign_in
				j += 1 if x.sign_out
			end
			maxi = i if i > maxi
			maxj = j if j > maxj
		end
	end
	max = maxi > maxj ? maxi : maxj
%>
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <% for k in 1..max do %>
        <th scope="col">Time In</th>
        <th scope="col">Time Out</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <%  i = 1
        for j in 1..5 do
          if TimeCard.first(:user_id => j) %>
            <tr>
              <th scope="row"><%= i %></th>
              <td><%= (User.get(TimeCard.first(:user_id => j).user_id)).first_name %></td>
              <td><%= (User.get(TimeCard.first(:user_id => j).user_id)).last_name %></td>
              <% TimeCard.all(:user_id => j).each_with_index do |x, i| %>
                <td><%= x.sign_in.to_time.strftime("%l:%M%p") if x.sign_in %></td>
                <td><%= x.sign_out.to_time.strftime("%l:%M%p") if x.sign_out %></td>
              <% end %>
            </tr>
          <% i += 1
          end
        end %>
  </tbody>
</table>